.App {
  text-align: center;
}

.AppTitle {
  border: 6px solid transparent;
  border-image: linear-gradient(
    45deg,
    var(--red-color),
    var(--blue-color),
    var(--green-color)
  );
  border-image-slice: 1;
  cursor: pointer;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--shadow-color);
  transform: scale(1);
  transition: transform 0.2s linear;
}

.AppTitle:hover {
  transform: scale(1.1);
  transition: transform 0.2s linear;
}

.AppTitleText {
  font-size: 4rem;
  background: linear-gradient(
    90deg,
    var(--blue-color),
    var(--purple-color),
    var(--red-color),
    var(--blue-color),
    var(--red-color),
    var(--purple-color),
    var(--blue-color)
  );
  background-clip: text;
  color: transparent;
}
